/* Global code */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
    color: orange;
}

/* Structural containers */

.heading {
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

.guess-container {
    width: 50%;
    text-align: center;
    float: left;
    font-size: 35px;
}

.match-container {
    width: 50%;
    text-align: center;
    float: right;
    font-size: 35px;
}

.game-container {
    width: 1400px;
    height: 800px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

/* Card Styling */

.card {
    width: 25%;
    height: 33%;
    border: solid 1px black;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card-face {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card.flip {
    transform: rotateY(180deg);
}
