/* Global code */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
}

/* Structural containers */

.heading {
    text-align: center;
    margin: 20px;
    font-size: 40px;
    background-color: aquamarine;
}

.guess-container {
    width: 50%;
    text-align: center;
    float: left;
    font-size: 25px;
    background-color: antiquewhite;
}

.match-container {
    width: 50%;
    text-align: center;
    float: right;
    font-size: 25px;
    background-color: aqua;
}

.game-container {
    background-color: beige;
    width: 1400px;
    height: 800px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

/* Card Styling */

.card {
    width: 25%;
    height: 33%;
    border: solid 1px black;
    background-color: darkgray;
    position: relative;
}