/* Global code */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    color: black;
    background: radial-gradient(rgb(224, 146, 0), wheat);
}

/* Overlay Styling*/

.overlay {
    display: none;
    color: orange;
    font-size: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay .desc {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.overlay button {
    width: 250px;
    height: 60px;
    margin: 25px;
    border-radius: 10px;
    background-color: orange;
    color: black;
    font-size: 20px;
}

/* Overlay animation */

.overlay.show {
    animation: overlay-appear 750ms forwards;
}

.overlay .desc {
    animation: overlay-appear 750ms forwards;
}

.overlay button {
    animation: overlay-appear 750ms forwards;
}

/* Show start overlay with 'show' class */

.start-overlay.show {
    display: flex;
}

/* Show win overlay with 'show' class */

.win-overlay.show {
    display: flex;
}

/* Show lose overlay with 'show' class */

.lose-overlay.show {
    display: flex;
}

/* Structural containers */

.heading {
    text-align: center;
    padding: 20px;
    font-size: 32px;
}

.fa-tractor {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 70px;
}

.time-container {
    width: 50%;
    text-align: center;
    float: left;
    font-size: 35px;
}

.match-container {
    width: 50%;
    text-align: center;
    float: right;
    font-size: 35px;
}

.game-container {
    width: 85vw;
    height: 85vh;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

/* Card Styling */

.card {
    width: calc(25% - 14px);
    height: calc(33.33% - 14px);
    border: solid 1px black;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    margin: 7px;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card-face {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

/* Flipped card css */

.card.flip {
    transform: rotateY(180deg);
}

/* Overlay animation when appearing */

@keyframes overlay-appear {
    from {
        font-size: 0.5em;
    }
}

/* Media Queries for resposivitiy */

@media only screen and (max-width: 1250px){
    
    .heading {
        font-size: 18px;
    }

    .guess-container {
        font-size: 23px;
    }
    
    .match-container {
        font-size: 23px;
    }

    .fa-tractor {
        font-size: 40px;
        margin: 0px;
    }

    .game-container {
        width: 85vw;
        height: 85vh;
        padding: 20px
    }

    .card {
        width: calc(33.33% - 14px);
        height: calc(25% - 14px);
    }

}

@media only screen and (max-width: 775px){
    
    .heading {
        font-size: 13px;
    }

    .fa-tractor {
        font-size: 28px;
    }

    .game-container {
        padding: 10px
    }

}

@media only screen and (max-width: 650px){
    
    .heading {
        font-size: 12px;
    }

    .guess-container {
        font-size: 18px;
    }
    
    .match-container {
        font-size: 18px;
    }

    .fa-tractor {
        font-size: 17px;
    }

    .game-container {
        margin: 20px;
        padding: 10px;
    }

    .card {
        width: calc(50% - 14px);
        height: calc(16.66% - 14px);
    }

}